.parentWrapper {
    display: flex;
    flex-direction: column;
}
.navbar {
  padding: 20px;
  background-color: black;
  position: absolute;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
    .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center !important;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    font-family: 'Montserrat';
    font-size: 18px;
    text-decoration: none;
    color: lightblue;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: white;
  }
  
.home-page {
    /* position: absolute;
    top: 50px; /*moves div a little lower*/
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
}
.header {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
    
}
.header h1 {
    color: white;
    font-family: 'Montserrat';
    margin-top: 0;
    font-size: 50px;
    padding-left: 100px;
}
.header h2 {
    color: lightblue;
    font-family: monospace;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 40px;
    padding-left: 100px;
}
.header p {
    color: lightpink;
    font-family: 'Montserrat';
    font-size: 25px;
    padding-left: 100px;
    margin-top: 0;
}
button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: lightblue;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid lightblue;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 lightblue;
    width: 60%;
    margin-left: 100px;
    font-weight: bolder;
  }
  
  button:hover {
    color: black;
    box-shadow: inset 0 -100px 0 0 lightblue;
  }
  
  button:active {
    transform: scale(0.9);
  }

/*mobile screen only*/
@media only screen and (max-width:450px) {

  .navbar {
    display: none;
  }
  .image {
    display: none;
  }
  .home-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header {
    width: 100%;
    margin-bottom: 0%;
  }
  .header h1 {
    padding: 0;
    text-align: center;
    font-size: xx-large;
  }
  .header h2 {
    padding-left: 1.2%;
    text-align: center;
    font-size: xx-large;
  }
  .header p {
    padding-top: 10%;
    padding-left: 0;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
  }
  button {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: small;
    z-index: 10;
  }
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the elements */
    align-items: center; /* Horizontally center the elements */
    height: 100%;
  }
  .img-400 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Artboard 5.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1; /* Set the opacity to your desired value (0.2 = 20% opacity) */
    z-index: 0; /* Place the background behind the content */
  }
  .profile-pic {
    margin-left: auto;
    margin-right: auto;
  }
  .profile-pic img {
    width: 13vh;
    margin-top: 23%;
  }
  .info {
    width: 100%;
    margin: auto;
    padding: 0;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
  }
  .info h5 {
    font-size: x-large;
    text-align: center;
    line-height: 0.8;
  }
  .info span {
    font-size: medium;
    font-weight: bolder;
  }
  .info p {
    margin-right: 0;
    margin-left: 13%;
    margin-right: 13%;
    font-weight: 700;
    margin-top: 3vh;
    font-size: medium;
    text-align: justify;
  }
  .projs {

  }
  .column-proj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projs .elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .card-proj {
    padding: 10%;
    width: 210px;
    height: 133.33px;
    margin: 0 auto;
    margin-bottom: 15%;
  }
  .card__title {
    font-size: small;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .card__description {
    font-size: x-small;
    padding-top: 0;
  }
  .card__content {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
  }
  .heading h5 {
    font-size: x-large;
    text-align: center;
  }
}