html, body {
    margin: 0;
    padding: 0;
}

.parentWrapper {
    display: flex;
    flex-direction: column;
}
.navbar {
  padding: 20px;
  background-color: black;
  position: absolute;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    font-family: 'Montserrat';
    font-size: 18px;
    text-decoration: none;
    color: lightblue;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: white;
  }
  
.home-page {
    /* position: absolute;
    top: 50px; /*moves div a little lower*/
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
}
.header {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px; 
}
.header h1 {
    color: white;
    font-family: 'Montserrat';
    margin-top: 0;
    font-size: 50px;
    padding-left: 100px;
}
.header h2 {
    color: lightblue;
    font-family: monospace;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 40px;
    padding-left: 100px;
}
.header p {
    color: lightpink;
    font-family: 'Montserrat';
    font-size: 25px;
    padding-left: 100px;
    margin-top: 0;
}
button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: lightblue;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid lightblue;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 lightblue;
    width: 60%;
    margin-left: 100px;
    font-weight: bolder;
  }
  
  button:hover {
    color: black;
    box-shadow: inset 0 -100px 0 0 lightblue;
  }
  
  button:active {
    transform: scale(0.9);
  }
.image {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.image img{
    width: 900px;
    position: relative;
    right: -100px;
}
.image-400 {
  display: none;
}
.about-me {
  background-color: lightskyblue;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.about-me h1 {
  color: white;
}
.profile-pic {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 50px; */
}
.profile-pic h1 {
  color: black;
  font-family: 'Montserrat';
  text-align: center;
}
.profile-pic img {
  width: 60%;

}
.info {
  width: 60%;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
.info h5 {
  font-size: 5vh;
  line-height: 0.6;
}
.info span {
  font-size: 3vh;
  letter-spacing: 1.7px;
  font-weight: 400;
}
.info p {
  font-weight: 600;
  margin-right: 190px;
  margin-top: 0;
}

/* swiper code */
/* body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
} */

.experience {
  font-family: 'Montserrat';
}
html,
body {
  position: relative;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  background: #eee;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  margin-bottom: 0%;
  padding: 0;
}

.swiper-container-wrapper--timeline .swiper-slide {
  display: flex;
  background: #fff;
  min-height: 300px;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.swiper-container-wrapper--timeline .swiper-slide .container {
  padding: 0px;
}
.swiper-container-wrapper--timeline .swiper-slide .title {
  opacity: 0;
  transition: 0.5s ease 0.5s;
  height: 100vh;
  background-color: white;
  align-items: center;
}
.swiper-container-wrapper--timeline .swiper-slide .title .text {
    line-height: 0.5;
    margin-top: 1.5%;
    align-items: center;

}
.swiper-container-wrapper--timeline .swiper-slide .title .text p{
    font-size: 15px;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 1.3rem;
    padding-top: 10px;
}
.swiper-container-wrapper--timeline .swiper-slide .title .text h2 {
    font-size: 1.3em;
    color: brown;
    margin-bottom: 0;

}
.swiper-container-wrapper--timeline .swiper-slide .title .text h5 {
    font-size: 1.2em;
    font-weight: 400;

}
.swiper-container-wrapper--timeline .swiper-slide .title .text ul li {
    line-height: 15px;
    font-size: 0.9rem;
}
.swiper-container-wrapper--timeline .swiper-slide-active .title {
  opacity: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
  position: relative;
  margin-bottom: 20px;
  background-color: transparent;
  height: 4px;
  border-bottom: 1px solid #888;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
  background-color: #000;
  height: 3px;
  top: 2px;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:before {
  position: absolute;
  top: px;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: #0080ff;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
  position: absolute;
  top: 3px;
  right: -100%;
  width: 100%;
  height: 1px;
  background-color: #0080ff;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-custom {
  position: relative;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  line-height: 1.66;
  bottom: 0;
  z-index: 11;
  width: 75%;
  display: flex;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
  position: absolute;
  font-weight: 400;
  right: 0;
  transform: translateX(50%);
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
  z-index: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
  position: absolute;
  top: calc(100% + 19px);
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 2rem;
  content: "";
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  z-index: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
  font-weight: 400;
  transition-delay: 0.4s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
  background: #000;
  width: 25px;
  height: 25px;
  transition-delay: 0.4s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title {
  color: #888;
  font-weight: 16px;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title:after {
  background: #888;
}

.card-skills {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.header-skills {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.body-skills {
  padding: 20px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  width: 120px;
  font-size: 16px;
}

.skill-level {
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  background-color: #333;
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}
  
/* contact */
.contact {
  width: 100%;
  height: 50vh;
  background-color: black;
}
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  background-color: rgba(0, 181, 245, 0.05);
} */

.contact {
  color: white;
  text-align: center;
}
.contact h2 {
  color: white;
  text-align: center;
  padding-top: 2rem;
}
.contact h5 {
  line-height: 2em;
}
.contact p {
  line-height: 0.5em;
}
.social-container {
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00B5F5, #002A8F);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00B5F5;
  background: -webkit-linear-gradient(45deg, #00B5F5, #002A8F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

/* projects */
.projs {
  width: 100%;
  height: 100%;
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.projs h5 {
  color: white;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 8px;
  padding-bottom: 10vh;
  padding-left: 0;
  margin-left: 0;
}
.column-proj {
  display: flex;
  flex-direction: column;
}
.projs .elements {
  display: flex;
  flex-direction: row;
}
.card-proj {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-right: 2rem;
}

.card-proj svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-proj:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-proj:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
  line-height: 1.4;
}

.card-proj:hover svg {
  scale: 0;
}

.card__description {
  margin-top: 0;
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1;
}